<script type="text/javascript">
/*
 * Module that adds all the event bindings, etc. associated with the page edit screen.
 */

require(['require', 'jquery', 'marked'], function (require, $, marked) {
    'use strict';

    $(function () {
      $('.editable').on('dblclick', function(e) {
        e.preventDefault();
        var $this = $(this);
        $this.attr('contenteditable', true)
             .addClass('editing');
        return false;
      });
      $('.editable').on('blur', function(e) {
        e.preventDefault();
        var $this = $(this);
        console.log('blurred');
        $this.attr('contenteditable', false)
             .removeClass('editing');
        return false;
      });

      var $pageContent = $('#page-content');
      var $mdPreviewer = $('#markdown-previewer');
      $('#markdown-preview').on('mouseenter', function() {
        $mdPreviewer.html(marked($pageContent.text()));
        $mdPreviewer.fadeIn('fast');
      }).on('mouseleave', function() {
        $mdPreviewer.fadeOut('fast');
      });

    });
});
</script>

  <small class="muted">Double click to edit.</small>
  <hr>
  <div class="row-fluid">
    <div class="span12">
      <time><i class="sprite icon-time"></i> <span class="editable" data-name="name">{{= date }}</span></time>
      <h3><span class="editable" data-name="title">{{= title }}</span>
        <small class="editable" data-name="slug">{{= slug }}</small></h3>
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <div class="container">
            <ul class="nav">
              <li><a href="#" id="markdown-preview">M<i class="icon-arrow-down icon-white"></i></a></li>
              <li><a href="#">?</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="markdown-previewer"></div>
      <pre class="marked editable" data-name="name" id="page-content">{{= content }}</pre>
    </div>
  </div>
