<small class="muted">Double click to edit.</small>
<hr />
<div class="row-fluid" id="main-content">
  <div class="span12">
    <time><i class="sprite icon-time"></i> {{= date }}</time>
    <h3>{{= title }} <small>{{= slug }}</small></h3>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="active"><a href="#">M<i class="icon-arrow-down"></i></a></li>
            <li><a href="#">?</a></li>
          </ul>
        </div>
      </div>
    </div>
    <pre class="marked">{{= content }}</pre>
  </div>
</div>
