
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alsilog | sign in</title>
    <base href="<%= baseUrl %>/admin" />
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/admin.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Alsilog Admin</h2>
        <input type="text" class="input-block-level" placeholder="Email address">
        <input type="password" class="input-block-level" placeholder="Password">
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
      </form>
    </div>
  </body>
</html>