<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alsilog | <%= title %></title>
    <link rel="shortcut icon" href="images/favicon.png" />
    <base href="<%= baseUrl %>/admin" />
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/admin.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <div class="masthead">

        <ul class="nav nav-pills pull-right">
          <li><a href="/admin"><i class="icon-home"></i> Home</a></li>
          <li><a href="admin/create"><i class="icon-pencil"></i> Create</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> <i class="caret"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#"><i class="icon-cog"></i> Account</a></li>
              <li><a href="admin/logout"><i class="icon-off"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
        <h3>alsilog <small>admin</small></h3>
      </div>
      <hr>