	</div>
	<div id="push"></div>
</div>

<footer>
	<div id="footer">
		<a class="footer" rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
		<a class="footer" xmlns:cc="http://creativecommons.org/ns#" href="http://www.alsilog.com" property="cc:attributionName" rel="cc:attributionURL">Karan Sheth</a>
	</div>
</footer>

<script data-main="javascripts/alsilog" src="javascripts/require-jquery.js"></script>
<script type="text/javascript">var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-38156194-1']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })(); </script>
</body>
</html>