<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alsilog | <%= title %></title>
    <link rel="shortcut icon" href="images/favicon.png" />
    <base href="<%= baseUrl %>/" />
    <link rel="stylesheet" href="stylesheets/alsilog.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,800,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="wrapper">
	<div id="fixed-nav">
		<header>
			<a class="ajaxify" data-type="index" href="/"><i class="sprite" id="sprite-logo"></i></a>
			<div id="logo-text">
				<strong>Karan Sheth</strong><br />
				coder, musician, design enthusiast
			</div>
		</header>
		<nav>
			<ul id="main-nav">
				<li><a class="ajaxify nav" data-type="single" href="about">about</a></li>
				<li><a class="ajaxify nav" data-type="single" href="archives">archives</a></li>
				<li><a class="ajaxify nav" data-type="single" href="colophon">colophon</a></li>
				<li><a class="ajaxify nav" data-type="single" href="resume">résumé</a></li>
			</ul>
		</nav>
		<p>
			This website is my laboratory for experimentation with the web techologies that interest me.<br />
			Expect sudden mutations and frequent explosions.
		</p>
	</div>
	<div id="main-content">