html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	background: #fff url(../images/top_gradient.png) repeat-x;
	background-attachment: fixed;
	color: #444;
	font-family: 'Open Sans', Tahoma, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.2em;
	text-shadow:  0 0 1px rgba(0,0,0,.01);
}

h1 {
	color: #000;
	font-size: 2em !important;
	line-height: 1.2em;
	margin: .2em 0 .8em;
}

a {
	color: #567890;
	text-decoration: none;
	-webkit-transition:color .2s;
	-moz-transition:color .2s;
	-o-transition:color .2s;
	transition:color .2s;
}
a:hover {
	color: #333;
}

article {
	margin: 0 0 40px;
}
article h1,
article p {
	font-family: Georgia;
	font-size: 1.2em;
}
article .date {
	margin: 0 0 10px;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -90px; /* the bottom margin is the negative value of the footer's height */
}
footer {
	background: #000;
	border-top: 30px solid #f5f5f5;
	clear: both;
	width: 100%;
}
/* footer push down, must be same height as footer */
#push {
	height: 90px;
}
#footer {
	color: #fff;
	font-size: .7em;
	height: 60px;
	line-height: 1em;
	padding: 0 20px;
}
a.footer {
	color: #d9d9d9;
	float: left;
	font-weight: 600;
	line-height: 1.3em;
	text-decoration: none;
	padding: 20px 5px 0 0;
}

#fixed-nav {
	font-size: .8em;
	left: 0;
	margin: 0;
	padding: 60px 0;
	position: fixed;
	top: 0;
	width: 460px;
}
#fixed-nav header {
	display: block;
	padding: 0 40px 0 50px;
}
#fixed-nav nav {
	clear: both;
	color: #818181;
	display: block;
	padding: 0 80px;
}
#fixed-nav p {
	clear: both;
	display: block;
	font-size: .9em;
	line-height: 1.3em;
	padding: 40px 80px;
}

#main-content {
	font-size: .8em;
	left: 480px;
	margin: 0;
	padding: 60px 0;
	position: relative;
	top: 0;
	width: 440px;
}

#logo-text {
	color: #747474;
	display: inline-block;
	float: left;
	font-family: 'Open Sans Condensed', Tahoma;
	font-size: 1.1em;
	line-height: 1.2em;
	padding: 5px 0 0 10px;
}

#main-nav {
	list-style: none;
	margin: 0;
	padding: 0;
}
#main-nav > li {
	line-height: 1.5em;
	list-style: none;
	margin: 0;
	padding: 0;
}
a.nav {
	color: #777;
	text-decoration: none;
	-webkit-transition:background-color .3s;
	-moz-transition:background-color .3s;
	-o-transition:background-color .3s;
	transition:background-color .3s;
}
a.nav:hover {
	background-color: #ff6600;
	color: #fff;
	padding: 3px 5px;
	text-decoration: none;
}
a.nav.active {
	color: #ffa200;
	text-decoration: none;
}



/* sprites */
.sprite {
	background-image: url(../images/sprite.png);
	display: inline-block;
	margin-right: 7px;
	vertical-align: middle;
}

#sprite-logo {
	background-position: 0 0;
	float: left;
	height: 44px;
	margin: 0 0 20px 0;
	width: 160px;
}

.icon-time {
	background-position: -160px 0;
	height: 14px;
	width: 14px;
}